<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBR4sv2AwXjpy1ZV3jUEXbSTGB4K_9WMug</string>
	<key>GCM_SENDER_ID</key>
	<string>1022967971950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.github.hoon94.SwiftUI-Authorization</string>
	<key>PROJECT_ID</key>
	<string>swiftuiauthtutorial-154b2</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuiauthtutorial-154b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1022967971950:ios:8a81644c7c201ac5cca67f</string>
</dict>
</plist>